{% extends "layout.html" %}

{% block content %}
    <table class="table">
        {% for weather in weatherList %}
            {%if forloop.counter == 1%}
                <thead>
                    <tr>
                        {% for data in weather %}
                            <th>{{data}}</th>
                        {% endfor %}   
                    </tr>
                </thead>
            {%else%}
            
                {%if forloop.counter == 2%}
                    <tbody>
                {%endif%}
                <tr>
                    {% for data in weather %}
                        <td>{{data}}</td>
                    {% endfor %}   
                </tr>
                {%if forloop.counter == weatherList|length %}
                    <tbody>
                {%endif%}
            {%endif%}
            
        {% endfor %}
    </table>
{% endblock %}
