{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped header-fixed">
        {% for weather in weatherList %}
            {%if forloop.counter == 1%}
                <thead>
                    <tr>
                        {% for data in weather %}
                            <th>{{data.title}}</th>
                        {% endfor %}   
                    </tr>
                </thead>
            {%else%}
            
                {%if forloop.counter == 2%}
                    <tbody>
                {%endif%}
                <tr>
                    {% for data in weather %}
                        <td>
                            {{data.title}}
                            <br/>
                            {{data.temperature}} 
                            <br/>
                            <img src=" {{data.imgUrl}}" class="rounded-circle">
                        </td>
                    {% endfor %}   
                </tr>
                {%if forloop.counter == weatherList|length %}
                    <tbody>
                {%endif%}
            {%endif%}
            
        {% endfor %}
    </table>
{% endblock %}
